  body{

    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 






/* .TABLA{


   padding: 30px;
   width: 1700px;
   border-radius: 30px;
   margin-left: 2.5px ;
   padding-left: 12;
   
    
}   */